.gig-container {
  h1,
  h2 {
    margin: 15px;
  }
  h1 {
    font-size: 3rem;
    font-family: condiment;
    letter-spacing: 1.5px;
    span {
      font-family: condiment;
      color: #97a5a7;
    }
  }
  hr {
    max-width: 90%;
  }
}

.gig-list {
  list-style: none;
  grid-template-columns: 1fr;
  text-align: center;
  padding-bottom: 60px;
  max-width: 100%;
  padding: 0 0 15%;
  margin: 0 auto;
  animation-name: slide-right;
  animation-duration: 0.7s;
  li {
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.66);
    color: white;
    cursor: pointer;
    margin: 10px;
    background-color: #525151;
    border-radius: 5px;
    display: grid;
    transition: all 0.3s;
    overflow: hidden;

    .gig-image {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      width: 100%;
      height: 150px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.5s;
      z-index: 0;
    }
    div {
      background-color: #525151;
      z-index: 0;
      .publisher-container {
        display: grid;
        grid-template-columns: 1fr 100%;
        grid-template-rows: 1fr;
        margin: 10px 0 10px 10px;
        img {
          border-radius: 5px;
          height: 100%;
          max-width: 100%;
          min-width: 45px;
          min-height: 45px;
          border-radius: 50%;
          object-fit: cover;
          grid-row: 1 / span 2;
          align-self: start;
          justify-self: start;
        }
        .publisher-info {
          text-align: left;
          padding-left: 15px;
          height: 100%;
          width: 100%;
          grid-row: 1;
          justify-self: start;
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr;
          justify-content: start;
          align-items: center;
          h3 {
            text-transform: capitalize;
            width: 100%;
            text-align: left;
            font-size: 1.2rem;
            text-align: left;
            // display: flex;
            align-items: inherit;
            max-height: 25px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 90%;
            i {
              color: gold;
              font-size: 1rem;
            }
          }
        }
      }
    }
    .gig-details {
      // max-width: 245px;
      text-align: left;
      min-height: 120px;
      padding: 5px;
      display: grid;
      h3 {
        max-height: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p.gig-prev-desc {
        padding: 10px 0;
        max-height: 50px;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
      p:last-child {
        margin: 0;
        color: #c9c8c9;
        font-style: italic;
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        span {
        }
        i {
          font-size: 1.4rem;
          position: absolute;
          right: 0;
        }
      }
    }
    .lower-bar-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      padding: 5px;
      border-top: 1px solid white;
      max-height: 55px;
      background-color: rgba(255, 255, 255, 0.753);
      p {
        justify-self: center;
        align-items: center;
        font-size: 1.3rem;
        margin: 0;
        color: rgba(0, 128, 0, 0.842);
        font-weight: bold;
      }
      button {
        cursor: pointer;
        height: 70%;
        font-family: condiment;
        font-size: 1.4rem;
        text-align: center;
        padding-top: 5px;
        padding-right: 10px;
        letter-spacing: 1px;
        border-radius: 5px;
        background-color: $category-base;
        border: none;
        color: white;
        transition: all 0.3s;
        min-height: 100%;
        span {
          font-family: condiment;
          color: #97a5a7;
        }
      }
      button:hover {
        background-color: #7c0d4e;
      }
    }
  }
  li:hover {
    .gig-image {
      transform: scale(1.15);
    }
    .publisher-container {
    }
    // opacity: 0.85;
    // transform: scale(0.99);
  }
}

@media (min-width: 600px) {
  .gig-list {
    grid-template-columns: repeat(2, 1fr);
    max-width: 80%;
  }
}

@media (min-width: 950px) {
  .gig-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .gig-list {
    grid-template-columns: repeat(4, 1fr);
    li {
      .gig-image {
      }

      .publisher-container {
        img {
        }
        .publisher-info {
          h3 {
          }
        }
      }
    }
    div.gig-details {
      padding: 5px 10px;
      h3 {
      }
      p.gig-prev-desc {
      }
      p {
        span {
        }
        i {
        }
      }
    }
    .lower-bar-container {
      p {
      }
      button {
        span {
        }
      }
      button:hover {
      }
    }
  }
}
