.gig-container {
    h1, h2{
        margin: 15px;
    }
    h1 {
        font-size: 3rem;
        font-family: condiment;
        letter-spacing: 1.5px;
        span {
            font-family: condiment;
            color: #97a5a7;
        }
    }
    hr {
        max-width: 90%;
    }
}

.gig-list {
    list-style: none;
    grid-template-columns:  1fr;
    text-align: center;
    padding-bottom: 60px;
    max-width: 80%;
    padding: 0 0 15%;
    margin: 0 auto;
    animation-name: slide-right;
    animation-duration: 0.7s;
    li {
        box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.66);
        color: white;
        cursor: pointer;
        margin: 10px;
        background-color: #525151;
        border-radius: 5px;
        display: grid;
        transition: all .3s;
        .gig-image{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width: 100%;
            height: 150px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .gig-image.moving {
            background-image: url('../assets/moving.jpg');
        }
        .gig-image.other {
            background-image: url('../assets/other.jpg');
        }
        .gig-image.pet-care {
            background-image: url('../assets/pet-care.jpg');
        }
        .gig-image.house-work {
            background-image: url('../assets/house-work.jpg');
        }
        .gig-image.line-queue {
            background-image: url('../assets/line-queue.jpg');
            
        }
        .gig-image.delivery {
            background-image: url('../assets/delivery.jpg');
        }
        .publisher-container{
            display:grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 1fr;
            margin: 10px 0;
            img {
                border-radius: 5px;
                height: 100%;
                max-width: 100%;
                border-radius: 50%;
                object-fit: contain;
                grid-row: 1 /span  2;
                align-self: start;
                justify-self: end;
            }
            .publisher-info {
                text-align: left;
                padding-left: 15px;
                height: 100%;
                width: 100%;
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr;
                justify-content: start;
                align-items: center;
                h3 {
                    text-transform: capitalize;
                    max-width: 100%;
                    font-size: 1.2rem;
                    text-align: left;
                    display: flex;
                    align-items: inherit;
                    i {
                        color: gold;
                        font-size: 1rem;
                    }
                }
            }
        }
        .gig-details {
            max-width: 245px;
            text-align: left;
            min-height: 120px;
            padding: 5px 10px;
            display: grid;
            h3{
                max-height: 20px;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .gig-prev-desc {
                padding: 10px 0;
                max-height: 130px;
                white-space: nowrap; 
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
            p{
                margin: 0;
                color: #c9c8c9;
                font-style: italic;
                font-size: 1rem;
            }
        }
        .lower-bar-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            padding: 5px;
            border-top: 1px solid white;
            max-height: 55px;
            p {
                justify-self: start;
            }
            button {
                cursor: pointer;
                height: 70%;
                font-family: condiment;
                font-size: 1.4rem;
                text-align: center;
                padding-top: 5px;
                padding-right: 10px;
                letter-spacing: 1px;
                border-radius: 5px;
                background-color: $category-base;
                border: none;
                color: white;
                span {
                    font-family: condiment;
                    color: #97a5a7;
                }
            }
        }
    }
    li:hover {
        opacity: 0.95;
        transform: scale(0.99);
    }
}

@media (min-width:600px) {
    .gig-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:950px) {
    .gig-list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1200px) {
    .gig-list{
        grid-template-columns: repeat(4, 1fr);
    }
}