.gig-edit {
    display: flex;
    flex-direction: column;
    text-align: center;
    // align-items: center;
    h1 {
        margin: 0 auto;
        color: azure;
    }
}
.gig-edit-container {
    color: blue
}
.gig-edit-form {
    margin-top: 0.7rem;
    * {
        margin-bottom: 0.7rem;
    }
    flex-direction: column;
}

.gig-edit-submit{
  height: 3rem;
  box-shadow: inset 0px 1px 0px 0px #2ca2af;
  background-color: #2ca2af;
  border: 1px solid #2ca2af;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
  padding: 0.4rem 0.75rem;
}