.gig-details-container {
  $card-color: #4b052e;
  max-width: 70%;
  margin: 10px auto;
  .top-container {
    width: 100%;
    background-color: $card-color;
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-radius: 5px;
    color: white;
    h6 {
      height: 100%;
      padding: 10px;
      transition: all 0.3s;
      span {
      }
    }
    h6:hover {
      color: $category-base;
      cursor: pointer;
    }
    .top-user-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .publisher-info {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        align-items: center;
        img {
          margin: 0 10px;
          max-width: 50px;
          max-height: 50px;
          object-fit: contain;
          border-radius: 50%;
          transition: all 0.3s;
        }
        img:hover {
          cursor: pointer;
          opacity: 0.8;
        }
        h4 {
          text-align: left;
          grid-column: 2;
        }
        h4:first-child {
          font-size: 1.7rem;
        }
        h4.publisher-review {
          .el-rate {
            display: flex;
            align-items: center;
            justify-content: center;
            i {
              font-size: 0.8rem;
            }
          }
        }
      }
      button {
        background-color: $category-base;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 10px 15px;
        margin-right: 10px;
        font-size: 1.3rem;
        transition: all 0.3s;
      }
      button:hover {
        background-color: burlywood;
      }
    }
  }
  .mid-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    .gig-details-left-container {
      // background-color: $card-color;
      // border: 1px solid $category-base;
      display: grid;
      grid-template-columns: 1fr;
      color: white;
      border-radius: 5px;
      grid-gap: 10px;
      justify-content: start;
      align-items: start;
      text-align: left;
      // padding: 10px;
      & > * {
        text-align: center;
      }
      .left-top-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px 0;
        background-color: $card-color;
        border: 1px solid $category-base;
        padding: 10px;
        border-radius: 5px;
        h4 {
          font-size: 1.2rem;
          font-weight: bold;
          text-transform: capitalize;
          color: rgba(255, 255, 255, 0.918);
        }
        h6 {
          font-size: 1rem;
          p {
            margin: 0;
            color: rgba(255, 255, 255, 0.795);
            margin-left: 10px;
          }
        }
        .left-top-bottom {
          display: grid;
          grid-template-rows: 1fr 1fr;
          margin: 10px 0;
          align-items: center;
          grid-gap: 10px;
          h6 {
            grid-row: 1 / span 2;
          }
          div {
            display: grid;
            grid-gap: 10px;
            h6 {
              font-size: 1rem;
              text-align: center;
              p {
                padding: 0 5px;
                text-align: left;
                margin: 0;
                font-style: italic;
                color: rgb(228, 226, 226);
              }
            }
            span {
              width: 100%;
              text-align: center;
              display: block;
            }
          }
          p {
            font-size: 1.1rem;
          }
        }
      }

      .gig-category-wrapper {
        text-transform: capitalize;
        background-color: $card-color;
        border: 1px solid $category-base;
        border-radius: 5px;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        h5 {
          justify-self: start;
          font-size: 1.7rem;
        }
        i {
          font-size: 2rem;
          justify-self: end;
        }
        img {
          display: none;
        }
      }
    }
    .gig-details-right-container {
      display: grid;
      .call-to-action-container {
        background-color: $card-color;
        border-radius: 5px;
        padding: 10px;
        p {
          font-family: roboto;
          font-weight: bold;
          font-size: 1.6rem;
          color: rgb(21, 168, 21);
          letter-spacing: 1px;
          margin: 10px 0;
        }
        button {
          background-color: rgb(21, 168, 21);
          color: white;
          border: none;
          border-radius: 10px;
          padding: 10px;
          min-width: 30%;
          transition: all 0.3s;
          h1 {
            font-family: condiment;
            font-size: 1.8em;
            padding-right: 7px;
            padding-top: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            span {
              span {
                margin-left: -3px;
                color: #97a5a7;
              }
              font-family: condiment;
            }
          }
        }
        button:hover {
          opacity: 0.8;
          transform: scale(0.98);
        }
      }
      .map-container {
        background-color: $category-base;
        border-radius: 5px;
        margin: 10px 0 0;
        padding: 10px;
      }
    }
  }
}

@media (min-width: 1050px) {
  .gig-details-container {
    
    .top-container {
      
      h6 {
        
        span {
        }
      }
      h6:hover {
        
      }
      .top-user-container {
        .publisher-info {
          
          img {
           
          }
          img:hover {
            
          }
          h4 {
           
          }
          h4:first-child {
            
          }
          h4.publisher-review {
            .el-rate {
              
              i {
                
              }
            }
          }
        }
        button {
         
        }
        button:hover {
         
        }
      }
    }
    .mid-container {  
      grid-template-columns: 1fr 1fr;
    
      .gig-details-left-container {
       
        & > * {
          
        }
        .left-top-container {
          
          h4 {
            
          }
          h6 {
            
            p {
             
            }
          }
          .left-top-bottom {
           
            h6 {
              
            }
            div {
              
              h6 {
                
                p {
                 
                }
              }
              span {
               
              }
            }
            p {
             
            }
          }
        }
  
        .gig-category-wrapper {
          grid-gap: 10px;
          h5 {
           font-size: 1.5rem;
          }
          i {
            
          }
          img {
            display: initial;
            grid-column: 1/ span 2;
            max-width: 90%;
            border-radius: 5%;
            justify-self: center;
            padding: 10px;
          }
        }
      }
      .gig-details-right-container {
        
        .call-to-action-container {
         
          p {
           
          }
          button {
            
            h1 {
              
              span {
                span {
                 
                }
                
              }
            }
          }
          button:hover {
          
          }
        }
        .map-container {
         
        }
      }
    }
  }
}
