.gig-toolbar {
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    border-bottom: 1px solid #363636;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: $category-base;
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.4);
    button {
        color: white;
        min-height: 60px;
        background-color:transparent;
        border: none;
        font-size: 1.2rem;
        padding: 10px;
        cursor: pointer;
        font-weight: 600;
    }
    button:hover {
        color: rgb(179, 174, 174);
    }
}