.home {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .cover-container {
    background: url('../assets/home-cover.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 1;
    width: 100%;
    height: fit-content;
    max-height: 40vh;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
  }

  .cover-container h1 {
    font-size: 4rem;
    text-align: left;
    font-family: condiment;
    color: white;
    padding: 0 10px;
    letter-spacing: 1.5px;
    span {
        font-family: condiment;
        color: #97a5a7;
      }
  }
  
  .search-container {
    z-index: 1;
    grid-row: 3;
    max-height: 55px;
    display: flex;
    justify-content: center;
    max-width: fit-content;
    margin: 0 auto;
  }
  
  .search-container input {
    width: 80%;
    font-size: 1.5rem;
    padding: 10px;
    height: 100%;
  }
  
  .search-container button {
    height: 51px;
    font-size: 1rem;
    background-color: #2ca2afd0;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }

 