$nav-border-color: rgba(255, 255, 255, 0.11);
$hover-color: #8a1258;
.home-nav {
  .new-event-point {
    height: 1.5rem;
    width: 1.5rem;
    background-color: rgba(175, 45, 45, 0.767);
    // box-shadow: brown;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 15%;  
    &.envelope-point {
      left: 1vw;
    }
  }
  
  max-height: 70px;
  min-height: 70px;
  position: fixed;
  width: 100%;
  background-color: black;
  color: white;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: grid;
  grid-template-columns: 1fr 3fr;
  a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    height: 100%;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    &.navbar-add-gig.wide {
      display: none;
    }
  }
  a.router-link-exact-active.router-link-active:first-child {
    color: #be207c;
  }
  a:not(:last-child) {
    border-right: 1px solid $nav-border-color;
  }
  a:hover {
    background-color: $hover-color;
    cursor: pointer;
  }
  .nav-logo-container {
    border-right: 1px solid $nav-border-color;
    a {
      h1 {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: condiment;
        padding-top: 10px;
        span {
          font-family: condiment;
          color: #97a5a7;
        }
      }
    }
  }
  .nav-seperator {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    & > a {
      grid-row: 1;
      min-width: 100%;
      justify-content: center;
      h1 {
        font-size: 1.7rem;
        i {
        }
      }
    }
    
    .nav-user-container {
      border-left: 1px solid $nav-border-color;
      grid-column: 3;
      a.nav-guest-container {
        h1 {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            font-size: 2rem;
            margin-right: 5px;
          }
          span {
            font-size: 1.3rem;
          }
        }
      }
      .nav-user-menu-container {
        position: relative;
        $dropdown-height: 175px;
        min-width: 100%;
        justify-content: center;
        .user-dropdown {
          min-width: inherit;
          position: absolute;
          min-height: $dropdown-height;
          top: -$dropdown-height;
          background-color: #555555;
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border: 1px solid $nav-border-color;
          border-bottom: none;
          transition: all .3s ease-in-out;
          // transition: opacity .2s;
          a {
            padding: 10px;
            min-width: inherit;
            width: 100%;
            font-size: 0.9em;
            display: grid;
            grid-template-columns: 0.5fr 1fr;
            text-align: left;
            i {
              margin-right: 10px;
              justify-self: end;
              font-size: 0.8em;
            }
            &.navbar-add-gig {
              span {
                font-size: 1.5rem;
                font-family: condiment;
              }
            }
          }
          a:hover {
            background-color: $hover-color;
            color: white;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
        }
        .user-dropdown.closed {
          opacity: 0;
          z-index: -10;
          top: 0;
        }
        .user-dropdown.open {
          opacity: 1;
          z-index: 10;
          top: -$dropdown-height;
        }
      }
      a {
        img {
          max-width: 35px;
          max-height: 35px;
          min-width: 35px;
          min-height: 35px;
          object-fit: cover;
          border-radius: 50%;
          margin-right: 10px;
        }
        i {
        }
        span {
          font-weight: bold;
        }
      }
    }
  }
}

@media (min-width:280px) {
  .home-nav {
    .new-event-point.envelope-point {
      left: 4vw;
    }
  }
}
@media (min-width:360px) {
  .home-nav {
    .new-event-point {
      left:1vw;
      &.envelope-point {
        left: 6vw;
      }
    }
  }
}
@media (min-width:480px) {
  .home-nav {
    .new-event-point {
      left:4vw;
      &.envelope-point {
        left: 8vw;
      }
    }
  }
}
@media (min-width:720px) {
  .home-nav {
    .new-event-point {
      left:6vw;
      &.envelope-point {
        left: 9vw;
      }
    }
  }
}
@media (min-width:880px) {
  .home-nav {
    .new-event-point {
      left:7vw;
      &.envelope-point {
        left: 10vw;
      }
    }
  }
}

@media (min-width: 1050px) {
  .home-nav {
    .new-event-point {
      height: 1.2rem;
      width: 1.2rem;
      left: -3px;
      top:16%;
    }
    top: 0;
    display: flex;
    justify-content: space-between;
    a {
      border: none;
      
      
    }
    a:hover {
      color: #8a1258;
      background-color: unset;
    }
    .nav-logo-container {
      border: none;
      margin-left: 10px;
      padding-bottom: 5px;
      a {
        h1 {
          font-family: condiment;
          span {
            font-family: condiment;
          }
        }
      }
    }
    .nav-seperator {
    grid-template-columns: repeat(4, 1fr);
      a {
        &.navbar-add-gig.wide {
          grid-column: 1;
          padding: 10px;
          display: flex;
          border-right: 1px solid rgba(255, 255, 255, 0.11);
          align-content: center;
          span {
            padding: -5px 0;
            margin-left: 5px;
            font-family: condiment;
          }
        }
        h1 {
          font-size: 1.5rem;
        }
      }
      
      .nav-user-container {
        border: none;
        border-right: 1px solid rgba(255, 255, 255, 0.11);
        grid-column: 2;
        grid-row: 1;
        .nav-user-menu-container {
          span {
            display: none;
          }
          .user-dropdown {
            right: -15px;
            min-height: 140px;
            border-radius: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: black;
            border-top: none;
            max-height: fit-content;
            .navbar-add-gig {
              display: none;
            }
            a {
              min-width: 95px;
              font-size: 0.7em;
              grid-template-columns: 1fr 3fr;
            }
            a:hover {
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              background-color: #8a1258;
            }
          }
          .user-dropdown.closed {
            top: -10vh;
          }
          .user-dropdown.open {
            top: 70px;
          }
        }
        a {
          margin-right: 10px;
          img {
          }
          i {
          }
          span {
          }
        }
      }
    }
  }
}
