.home {
    display: grid;
    grid-template-columns: 1fr;
    .gig-list {
      width: 100%;
      padding: 10px;
    }
  }
  .hr1 {
    display: none;
  }
  .cover-container {
    background: url('https://res.cloudinary.com/barpel/image/upload/v1544345318/GigIt/OrbitCommirical.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // grid-row: 1;
    // width: 100%;
    height: fit-content;
    // max-height: 25vh;
    // display: grid;
    // grid-template-rows: repeat(5, 1fr);
    border-bottom: 3px solid #52515160;
    h1 {
     font-size: 4rem;
     text-align: left;
     font-family: condiment;
     color: $category-base;
     padding: 0 10px;
     letter-spacing: 1.5px;
     span {
         font-family: condiment;
         color: #97a5a7;
       }
   }
  }
  .banner {
    $element-height: 280px;
    $img-height: 178px;
    width: 80%;
    margin: 20px auto 0;
    max-height: $element-height;
    display: none;
    grid-template-columns: 1fr;

    
    .banner-block {
      margin: 0 10px;
     
      max-height: $element-height;
      position: relative;
      background: linear-gradient(45deg, black, $category-base, white);
      box-shadow: 0px 0px 18px 9px #4e0e3331;
      border-radius: 5px;

      h3{
        position: absolute;
        font-size: 1.8rem;
        padding: 15px;
        text-align: left;
        max-width: 65%;
        color: white;
        letter-spacing: 1.2px;
        opacity: 1;
        z-index: 3;
      }
      h4 {
        font-size: 3.3rem;
        font-family: condiment;
        position: absolute;
        bottom: 20%;
        left: 20%;
        color: white;
        width: 20%;
        padding: 5px 20px;
        border-radius: 10px;
        span {
          color: #97a5a7;
          font-size: 3.5rem;
          font-family: condiment;
          
        }
      }
      img {
        position: absolute;
        right: -30%;
        top: 0;
        max-height: $element-height;
        object-fit: contain;
        object-position: center;
        min-width: 100%;
        opacity: 0.8;
      }
    }
  }
  .search-categories-container{
    .search-container {
      z-index: 1;
      grid-row: 3;
      max-height: 55px;
      display: flex;
      justify-content: center;
      max-width: fit-content;
      margin: 0 auto;
      input {
      width: 80%;
      font-size: 1.5rem;
      padding: 10px;
      height: 100%;
      border: 1px solid $category-base;
      border-right: none;
      }
      input::placeholder{
        color: #4b052e67;
      }
      input:focus {
        outline: none;
      }
      button {
      height: inherit;
      font-size: 1rem;
      background-color: $category-base;
      color: white;
      border: none;
      transition: all .3s;
      }

      button:first-child:hover {
        transform: scale(0.95);
        // box-shadow: inset 0px 0px 18px 9px rgba(0,0,0,0.26);
        color: rgb(219, 217, 217);
        cursor: pointer;
      }

      button:first-child {
        margin-right: 10px;
        border-radius: 5px;
        width: 25%;
        span {
          font-family: condiment;
          font-size: 1.4em;
        }
      }
      button:last-child {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        background-color: white;
        border: 1px solid $category-base;
        border-left: none;
        min-width: 50px;
        transition: all .3s;
      color: rgba(126, 126, 126, 0.493);
      }
      button:last-child:hover {
        font-size: 1.5rem;
        color: black;
      }
    }
    .gig-toolbar-container {
      margin-top: 10px;
    }
  }
  @media(min-width: 1050px) {
    .home {
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      .hr1{
        display: initial;
      }
      .banner {
        display: grid;
        margin-bottom: 20px;
      }
      .cover-container {
        // grid-row: 2;
        // max-width: 40%;
        width: 80%;
        border-bottom: none;
        border-radius: 10px;
        background-image: none;
        box-shadow: none;
        grid-template-rows: none;
        margin: 10px auto;
        .search-categories-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          .gig-toolbar-container {
            margin: 0;
          }
          .search-container {
            height: 100%;
            max-height: 46px;
            grid-row: 1;
            max-width: none;
            margin: 0 10px;
            button:first-child {
              order: 1;
              margin-left: 20px;
              width: 40%;
              margin-right: 0;
              background-color: green;
              padding: 5px 10px 0 0;
            }
            button:last-child {
              order: -1;
              border-left: 1px solid $category-base;
              border-right: none;
              border-radius: 0;
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
              padding: 0 0 0 5px;
              text-align: left;
              min-width: 30px;
              width: 30px;
            }
            button:last-child:hover {
              font-size: 1.2rem;
            }
            input {
              border-right: 1px solid $category-base;
              border-left: none;
              font-size: 1.4rem;
              padding: 5px 0;
              height: 100%;
              letter-spacing: normal;
              min-height: 40px;
            }
          }
        }
        h1 {
          // text-align: center;
          display: none;
        }
      }
      .gig-categories-cotainer {
        // grid-row: 3;
      }
      .gig-list {
        // grid-row: 4;
      }
      hr {
        // grid-row: 5;
      }
      .footer {
        // grid-row: 1000;
      }
    }
  }

 