.home {
    display: grid;
    grid-template-columns: 1fr;
    .gig-list {
      width: 100%;
      padding: 10px;
    }
  }
  
  .cover-container {
    background: url('../assets/home-cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 22%;
    grid-row: 1;
    width: 100%;
    height: fit-content;
    max-height: 25vh;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    border-bottom: 3px solid #52515160;
  }

  .cover-container h1 {
    font-size: 4rem;
    text-align: left;
    font-family: condiment;
    color: white;
    padding: 0 10px;
    letter-spacing: 1.5px;
    span {
        font-family: condiment;
        color: #97a5a7;
      }
  }
  
  .search-container {
    z-index: 1;
    grid-row: 3;
    max-height: 55px;
    display: flex;
    justify-content: center;
    max-width: fit-content;
    margin: 0 auto;
    input {
     width: 80%;
     font-size: 1.5rem;
     padding: 10px;
     height: 100%;
   }
   
    button {
     height: inherit;
     font-size: 1rem;
     background-color: $category-base;
     color: white;
     border: none;
     cursor: pointer;
     transition: all .3s;
    }

    button:hover {
      transform: scale(0.95);
      box-shadow: inset 0px 0px 18px 9px rgba(0,0,0,0.26);
      color: rgb(219, 217, 217);
    }

    button:first-child {
      margin-right: 10px;
      border-radius: 5px;
      width: 25%;
      span {
        font-family: condiment;
        font-size: 1.4em;
      }
    }
    button:last-child {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
   }
  }
  
  @media(min-width: 1050px) {
    .home {
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      .cover-container {
        max-width: 76%;
        margin: 0 auto;
      }
    }
  }

 