.registration-container {
    display: grid;
    max-width: 60vw;
    margin: 0 auto;
    padding: 10px;
    & > * {
      margin: 10px 0;
      display: grid;
      grid-gap: 5px;
    }
    h1 {
      display: initial;
      color: $category-base;
      span {
          font-family: condiment;
          color: white;
          span {
              color: #97a5a7;
            font-family: condiment;
        }
      }
    }
    .container1 {
      grid-template-columns: 1fr 1fr;
    }
    .container2 {
      grid-template-columns: 1fr 3fr;
      label {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-gap: 5px;
        font-size: 1.6rem;
        color: $category-base;
      }
    }
    .container3 {
      grid-template-columns: 1fr 1fr;
    }
    button {
        background-color: $category-base;
        color: white;
        height: 50px;
        border: none;
        justify-self: center;
        border-radius: 5px;
        padding: 10px;
        font-size: 1.2rem;
        font-family: roboto;
    }
  }