$category-base: #4b052e;
$gray1: #dddddd;
$gray2: #cccccc;
$gray3: #bbbbbb;
$gray4: #aaaaaa;
$background-color: $gray1;


* {
    box-sizing: border-box;
    font-family: roboto;
}
html {
    font-size: 13px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body, html {
    margin: 0;
}

h1, h2, h3 ,h4, h5, h6 {
    margin: 0;
}

button {
    cursor: pointer;
    transition: all .3s;
}

#app {
    text-align: center;
    background-color: $background-color;
    min-height: 100vh;
    height: fit-content;
    margin: 0;
}

@media(min-width: 750px) {
    html {
        font-size: 14px;
    }
}
@media(min-width: 1050px) {
    html {
        font-size: 16px;
    }
}


