.user-msg {
    background-color: lightgray;
    width: 200px;
    height: 100px;
    padding: 10px;;
    position: fixed;
    font-family: roboto;
    font-size: 1.6rem;
    top:0;
    right:0;
}

.user-msg.success {
    background-color: #2ca2af;
}

.user-msg.error {
    background-color: lightcoral;
}
