.gig-categories-container {
    z-index: 1;
    left: 0;
    width: 100%;
    padding: 30px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    // grid-row: 4;
    grid-gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
    max-width: 80%;
  }
  input{
      color: black;
  }

  
.category {
    cursor: pointer;
    animation-name: slide-right;
    animation-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    box-shadow:0px 0px 17px -1px rgba(0,0,0,0.67);
    width: 100%;
    border-radius: 3px;
    padding: 15px;
    transition: all .3s;
}

.category:hover  {
    transform: scale(0.98);
    box-shadow: inset 0px 0px 18px 9px rgba(0,0,0,0.26);
    opacity: 0.9;
}

.category a{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}

.category i{
    font-size: 5rem;
    text-shadow: 0px 4px 6px rgba(165,173,182,0.69);
    color: white;
    opacity: 0.2;
}

.category h1 {
    margin-top: 10px;
    font-size: 1.5rem;
}
.category.moving {
    background-color: $category-base;

}

.category.house-work{
    background-color: #61073b;
}

.category.delivery {
    background-color: #740947;
}

.category.pet-care {
    background-color: #81094f;
}

.category.line-queue{
    background-color: #61073b;

}

.category.other {
    background-color: #4b052e;
}


@media (min-width: 750px) {
    .gig-categories-container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

    }

    .category h1 {
        font-size: 1.9rem;
    }
}