.home-footer {
    min-height: 35vh;
    background-color: #424242d0;
    h1 {
        font-family: condiment;
            color: white;
            text-align: left;
            padding: 10px;
            letter-spacing: 1px;
            font-size: 2.5rem;
            margin: 0;
        span {
            color: #97a5a7;
        }
    }
    .social-links-container{
        display: grid;
        grid-gap: 25px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        max-width: fit-content;
        margin: 0 auto;
        a {
            color: white;
            i{
                font-size: 4rem;
            }
        }
    }
}