.user-profile-container{
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 100px repeat(4, 1fr);
    margin: 0 10px;
    .user-avatar-card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        border: 1px solid #545454;
        padding:10px;
        img{
            max-width: 150px;
        }
        .user-profile-contact-btn {
            background-color: #00b22d;
            background: linear-gradient(#35c350,#03b525);
            color: #fff;
            border: 1px solid #00b22d;
            padding: 15px 35px;
            margin: 0;
            display: inline-block;
            border-radius: 3px;
            text-shadow: 0 -1px 1px rgba(0,0,0,.2);
            box-sizing: border-box;
            -webkit-transition: color .2s,background-color .2s,box-shadow .2s,border .2s;
            transition: color .2s,background-color .2s,box-shadow .2s,border .2s;
        }
    }
    .user-profile-lastest-gigs{
        margin-top:10px;
        border: 1px solid #545454;
        grid-row: 2;
        padding: 5px;
        img{
            max-width: 50px;
            min-height: 50px;
            border: 1px solid #545454;
            border-radius: 3px;
            margin: 1px;
        }
    }
    
    .user-profile-details{
        margin-top:10px;
        border: 1px solid #545454;
        grid-row: 3;
        p{
            padding: 5px;
        }
        .user-profile-skills{
            display: flex;
            justify-content: space-evenly;
            margin: 5px;
        }
        h6{
            border: 1px solid #545454; 
            border-radius: 3px;
            padding: 5px;
            display:inline-block;
            margin:5px;
        }
       
    }
    
    

}